.about-text {
    padding: 4rem;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-about {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-image {
    height: 20rem;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 10px #000;
}

.about-paragraph {
    color: var(--text-color-second);
    line-height: 1.75rem;
    text-align: justify;
    /* text-indent: 3rem; */
}

.about-write p a {
    color: var(--text-color-second);
    transition: color 0.2s;
    align-items: center;
}

.about-write p a:hover {
    color: var(--detail-color-second);
}