footer.footer-links-contacts {
    position: relative;
    top: -1rem;
}

.footer-links-contacts ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-bottom: 1rem; */
}

.footer-links-contacts ul li a {
    color: var(--text-color-second);
    align-items: center;
    transition: .3s ease-in-out;
}

.footer-links-contacts ul li a.github:hover {
    color: #808080;
}

.footer-links-contacts ul li a.linkdedin:hover {
    color: #0e76a8;
}

.footer-links-contacts ul li a.whatsapp:hover {
    color: #25D366;
}

.footer-links-contacts ul li a.gmail:hover {
    color: #db4a39;
}

a .icon-text {
    font-family: var(--font) !important;
}

a .icon-text:hover {
    font-weight: 600;

}

/*====  RESPONSIVE ============================ */

@media (max-width: 768px) {
  
    footer.footer-links-contacts ul li a span.icon-text {
        display: none;
    }

}