@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*====  RESET ============================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*====  VARIABLES ============================ */

:root {
    /* colors */
    --base-color: #0d1117;
    --base-color-second: #161b22;

    --text-color: #e6edf3;
    --text-color-second: #7d8590;
   
    --color-selection: #262636;

    --detail-color: #66d4ff;
    --detail-color-second: #ff7c00;

    --gradient-color: linear-gradient(90deg, var(--detail-color) 0%, var(--detail-color-second) 100%);
    --gradient-color-second: linear-gradient(270deg, var(--detail-color) 0%, var(--detail-color-second) 100%);

    /* fonts */
    --text-size-title: 1.5rem;
    --text-size: 1rem;

    --font: 'Montserrat', sans-serif;
}

/*===  BASE ============================ */

html {
    scroll-behavior: smooth;
}

body {
    font: 400 var(--text-size) var(--font);
    color: var(--text-color);
    background: var(--base-color);
    -webkit-font-smoothing: antialiased;
}

h3,
i {
    font-weight: 400;
}

/*====  LAYOUT ============================ */

.container {
    max-width: 1240px;
    width: 100%;
    margin: auto;
    padding: 0px 3.12rem;
}

.container-content {
    padding: 6.5rem 0 6.5rem;
}

.divider-1 {
    height: 1px;
    background-image: var(--gradient-color)
}

.divider-2 {
    height: 1px;
    background-image: var(--gradient-color-second)
}

.title {
    font: 400 var(--text-size-title) var(--font);
    color: var(--text-color);
    letter-spacing: 2px;
    -webkit-font-smoothing: auto;
    padding-bottom: 2rem;
    text-align: center;
}



/*====  RESPONSIVE ============================ */

/* @media (max-width: 1200px) {
    .card blockquote {
        max-height: 28.87rem;
        height: 100%;
    }
} */

@media (max-width: 880px) {
    .home-title {
        font-size: 3rem;
    }

    .home-subtitle {
        font-size: 1.5rem;
    }

    .home-written {
        align-items: center;
    }

    .content-about {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        height: 18.75rem;
    }
}

@media (max-width: 800px) {
    .header-menu-item::after {
        height: 2px;
        bottom: -8px;
    }

    .toggle {
        display: block;
    }

    nav .icon-close {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .header-container.active .header-menu .icon-close {
        display: block;
    }

    .header-menu ul {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: var(--base-color);
    }

    .header-container.active .header-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 3rem;
        place-content: center;
    }

    .header-menu-item {
        font-weight: 400;
        font-size: 1.25rem;
        letter-spacing: 2px;
        padding: 0.62rem;
    }

    .home-logos {
        text-align: center;
    }

    .content-main-written {
        margin-top: 1.25rem;
        align-items: center;
    }

    .contact-container {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1.25rem;
        gap: 2.5rem;
    }
}

/* @media (max-width: 650px) {
    .card blockquote {
        max-height: 34.37rem;
        height: 100%;
    }
} */

@media (max-width: 525px) {
    .home-title {
        text-align: center;
    }

    .home-subtitle {
        text-align: center;
    }

    .about-image {
        height: 15.62rem;
    }
}