.home {
    background-image: url('/assets/img/dev.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.home::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--base-color);
    opacity: 0.7;
    z-index: -1;
}

.home-text {
    display: flex;
    height: 97vh;
}

.home-title {
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 1px;
    color: var(--text-color);
    margin-bottom: 1.0rem;
    word-wrap: no-wrap;
}

h2.home-subtitle {
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color-second);
    margin-bottom: 1.0rem;

    overflow: hidden; 
    white-space: nowrap;
    border-right: 4px solid var(--text-color-second);
    padding-right: .5rem;
}

.animation  {
    animation: typing 4s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--text-color-second);
    }
}
/*====  RESPONSIVE ============================ */

@media (max-width: 800px) {
    .home-title {
        font-size: 3.7rem;
    }
}

@media (max-width: 768px) {
    .home-title {
        font-size: 3.5rem;
    }
}

@media (max-width: 650px) {
    .home-title {
        font-size: 3.2rem;
    }
}

@media (max-width: 580px) {
    .home-title {
        font-size: 3rem;
    }
}

@media (max-width: 550px) {
    .home-title {
        font-size: 2.2rem;
    }

    .home-subtitle {
        font-size: 1.4rem !important;
    }
}

@media (max-width: 455px) {
    .home-text {
        height: 91vh;
    }

    .home-title {
        font-size: 1.83rem;
    }
}