@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: #FFF;
    background-color: #151515;
}

html {
    scroll-behavior: smooth;
}

button {
    font-family: 'Montserrat', sans-serif;
}

h3, i {
    font-weight:400;
}

.main-container {
    max-width: 1070px;
    width: 100%;
    margin: auto;
}

.divider-1 {
    height: 1px;
    background-image: linear-gradient(90deg, #66d4ff, #0d3342);
}

.divider-2 {
    height: 1px;
    background-image: linear-gradient(90deg, #0d3342, #66d4ff);    
}

.header {
    border-bottom: 1px solid #81818144; 
    display: flex;
    position: fixed;    
    max-width: 1070px;
    width: 100%;
    background-color: #151515;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    width: 100%;
}

.logo {
    height: 65px;
    cursor: pointer;
}

.header-menu ul {
    display: flex;
    gap: 12px;
}

.header-menu-item {
    font-weight: 400;
    font-size: 12px;
    color: #FFF;
    letter-spacing: 1px;
    list-style: none;
    transition: color 0.2s;
    position: relative;
    padding: 10px;
}

.header-menu-item:hover {
    color: #ff7c00;
}

.header-menu-item.active {
    font-weight: 700;
}

.header-menu-item::after {
    content: "";
    width: 0;
    height: 1.5px;
    background-color:#ff7c00;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: width 0.2s;
}

.header-menu-item:hover::after,
.header-menu-item.active::after {
    width: 100%;
}

.toggle {
    display: none;
    color: #818181;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s;
}

.toggle:hover {
    color: #ff7c00;
}

.content-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 190px 50px 120px;
}

.content-main-written {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.content-main-written-title {
    font-weight: 700;
    font-size: 46px;
    letter-spacing: 1px;
}

.content-main-written-subtitle {
    font-weight:400;
    font-size: 20px;
    color: #818181
}

.button {
    width: 200px;
    height: 55px;
    border: none;
    background: linear-gradient(90deg, #66d4ff, #0d3342);
    font-size: 13px;
    border-radius: 20px;
    color: #FFF;
    cursor: pointer;
    transition: background-image 0.3s;
}

.button:hover {
    background-image: linear-gradient(90deg, #ff7c00, #3c1d00);
}

.content-main-image {
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000;
}

.about {
    text-align: center;
    padding: 100px 50px;    
}

.about-title {
    font-size: 24px;
    letter-spacing: 1px;
}

.about-paragraph {
    font-weight:400;
    font-size: 16px;
    line-height: 28px;
    color: #818181;
    text-align: justify;
    padding-top: 30px;
    text-indent: 55px;
}

.skkils {
    text-align: center;
    padding: 100px 50px;  
}

.skkils-title {
    font-size: 24px;
    letter-spacing: 1px;
}

.skkils-paragraph {
    text-align: center;
    font-weight:400;
    font-size: 16px;
    color: #818181;
    padding-top: 30px;
}

.card blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 20px;
    cursor: pointer;
    
    border-radius: 20px;
    border-bottom: 2px solid #ff7c00;
    background-color: #181818;
    box-shadow: 0px 0px 15px #000;
}

.card p {
    color: #818181;
    line-height: 28px;
}

.swiper-slide {
  height: auto;
  padding: 50px 16px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
}

.swiper-pagination-bullet-active {
    background: #ff7c00;
} 

.project {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 50px;     
}

.project-title {
    font-size: 24px;
    letter-spacing: 1px;
}

.project-paragraph {
    font-weight:400;
    font-size: 16px;
    line-height: 28px;
    color: #818181;
    text-align: justify;
    padding-top: 30px;
    text-indent: 55px;
}
.project-gh {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact {
    padding: 100px 50px;    
}

.contact-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-top: 20px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-links ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-links ul li a {
    color: #818181;
    transition: color 0.2s;
    align-items: center;
}

.contact-links ul li a:hover {
    color: #ff7c00;
}

.contact-title {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform:uppercase;
}

.contact-paragraph {
    font-weight:400;
    font-size: 16px;
    line-height: 28px;
    color: #818181;
    text-align: start;
}

.footer {
    border-top: 1.5px solid #81818144;
    padding: 30px 50px;
}

.footer-text {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #818181;    
}

.back-to-top {
    background: #212121;
    color: #818181;
    box-shadow: 0px 0px 10px #000;
  
    position: fixed;
    right: 16px;
    bottom: 16px;
  
    padding: 8px;
    clip-path: circle();
  
    font-size: 16px;
    line-height: 0;
  
    visibility: hidden;
    opacity: 0;
  
    transition: 0.3s;
    transform: translateY(100%);
}
  
.back-to-top.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

/****** RESPONSIVE ******/
@media (max-width: 1030px) {
    .card blockquote {
        max-height: 462px;
        height: 100%;
    }
}

@media (max-width: 880px) {
    .content-main-written-title {
        font-size: 42px;
    }
    .content-main-image {
        height: 300px;
    }
}

@media (max-width: 800px) {
    .header-menu-item::after {
        height: 2px;
        bottom: -8px;
    }

    .toggle {
        display: block;
    }
    
    nav .icon-close {
        display: none;
        position: absolute;
        z-index: 1;
    }
    
    .header-container.active .header-menu .icon-close {
        display: block;         
    }
  
    .header-menu ul {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0px;
        left: 0;
        background-color: #151515;              
    }   

    .header-container.active .header-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 48px;
        place-content: center;        
    }

    .header-menu-item {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 2px;
        padding: 10px;
    }

    .content-main {
        flex-direction: column-reverse;
    }

    .content-main-written {
        margin-top: 20px;
        align-items: center;
    }

    .contact-container {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        gap: 40px;
    }    
}

@media (max-width: 650px) {
    .card blockquote {
        max-height: 550px;
        height: 100%;
    }
}

@media (max-width: 480px) {
    .header {
        justify-content: space-evenly;        
    }
    
    .header-menu-item {
        font-size: 15px;
    }
    
    .content-main-written-title {
        font-size: 30px;
    }

    .content-main-written-subtitle {
        text-align: center;
        font-size: 19px;
    }

    .content-main-image {
        height: 250px;
    }
    
    .content-secondary-title {
        font-size: 15px;
    }

    .content-secondary-paragraph {
        font-size: 15px;
    }

    .footer-content {
        font-size: 15px;
    }

    .footer-content-email {
        font-size: 15px;
        text-align: center;
    } 
}

@media (max-width: 355px) {
    .content-main-written-title {
       text-align: center;
    }
}