@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*====  RESET ============================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*====  VARIABLES ============================ */

:root {
    /* colors */
    --base-color: #151515;
    --base-color-second: #191919;

    --text-color: #fff;
    --text-color-second: #818181;

    --detail-color: #66d4ff;
    --detail-color-second: #ff7c00;

    --button-color: linear-gradient(90deg, #66d4ff, #0d3342);
    --button-color-hover: linear-gradient(90deg, #ff7c00, #3c1d00);

    --divider-color: linear-gradient(90deg, #66d4ff, #0d3342);
    --divider-color-second: linear-gradient(90deg, #0d3342, #66d4ff);

    /* fonts */
    --text-size-title: 1.5rem;
    --text-size: 1rem;

    --font: 'Montserrat', sans-serif;
}

/*===  BASE ============================ */

html {
    scroll-behavior: smooth;
}

body {
    font: 400 var(--text-size) var(--font);
    color: var(--text-color);
    background: var(--base-color);
    -webkit-font-smoothing: antialiased;
}

button {
    font: 400 0.8rem var(--font);
}

h3,
i {
    font-weight: 400;
}

/*====  LAYOUT ============================ */

.container {
    max-width: 1240px;
    width: 100%;
    margin: auto;
    padding: 0px 3.12rem;
}

.container-content {
    padding: 6.5rem 0 6.5rem;
}

.divider-1 {
    height: 1.5px;
    background-image: var(--divider-color);
}

.divider-2 {
    height: 1px;
    background-image: var(--divider-color-second);
}

.title {
    font: 400 var(--text-size-title) var(--font);
    color: var(--text-color);
    letter-spacing: 2px;
    -webkit-font-smoothing: auto;
    padding-bottom: 2rem;
    text-align: center;
}

.button {
    width: 12.5rem;
    padding: 1rem 2.5rem;
    border: none;
    background: var(--button-color);
    border-radius: 1.25rem;
    color: #FFF;
    cursor: pointer;
    transition: background-image 0.3s;
}

.button:hover {
    background: var(--button-color-hover);
}

/*====  HEADER ============================ */

.header {
    position: fixed;
    width: 100%;
    background-color: var(--base-color);
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    height: 4rem;
    cursor: pointer;
}

.header-menu ul {
    display: flex;
    gap: 0.75rem;
}

.header-menu-item {
    font: 400 0.75rem var(--font);
    color: var(--text-color);
    letter-spacing: 1px;
    transition: color 0.2s;
    position: relative;
    padding: 0.75rem;
}

.header-menu-item:hover {
    color: var(--detail-color-second);
}

.header-menu-item.active {
    font-weight: 700;
}

.header-menu-item::after {
    content: "";
    width: 0;
    height: 1.5px;
    background-color: var(--detail-color-second);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: width 0.2s;
}

.header-menu-item:hover::after,
.header-menu-item.active::after {
    width: 100%;
}

.toggle {
    display: none;
    color: var(--text-color-second);
    font-size: var(--text-size-title);
    cursor: pointer;
    transition: color 0.2s;
}

.toggle:hover {
    color: var(--detail-color-second);
}

/*====  HOME ============================ */

.home {
    background-image: url('/assets/img/dev.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.home::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--base-color);
    opacity: 0.4;
    z-index: -1;
}

.home-written {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.home-title {
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 1px;
}

.home-subtitle {
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color-second);
}

/*====  ABOUT ============================ */

.about {
    background-color: var(--base-color-second);
}

.content-about {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-image {
    height: 20rem;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 10px #000;
}

.about-paragraph {
    color: var(--text-color-second);
    line-height: 1.75rem;
    text-align: justify;
    /* text-indent: 3rem; */
}

.about-write p a {
    color: var(--text-color-second);
    transition: color 0.2s;
    align-items: center;
}

.about-write p a:hover {
    color: var(--detail-color-second);
}

/*====  SKKILS ============================ */

/* .skkils-paragraph {
    text-align: center;
    color: var(--text-color-second);
}

.card blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1.25rem;
    cursor: pointer;

    border-radius: 1.25rem;
    border-bottom: 2px solid var(--detail-color-second);
    background-color: var(--base-color-second);
    box-shadow: 0px 0px 15px #000;
}

.card p {
    color: var(--text-color-second);
    line-height: 1.75rem;
}

.swiper-slide {
    height: auto;
    padding: 3.12rem 1rem;
}

.swiper-pagination-bullet {
    width: 0.62rem;
    height: 0.62rem;
    background: var(--text-color);
}

.swiper-pagination-bullet-active {
    background: var(--detail-color-second);
} */

/*====  PROJECT ============================ */

/* .project {
    background-color: var(--base-color-second);
}

.project-gh {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.project-paragraph {
    color: var(--text-color-second);
    line-height: 1.75rem;
    text-align: center;
} */


/*====  CONTACT ============================ */

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.contact-links ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-links ul li a {
    color: var(--text-color-second);
    transition: color 0.2s;
    align-items: center;
}

.contact-links ul li a:hover {
    color: var(--detail-color-second);
}

.contact-title {
    font: 400 var(--text-size-title) var(--font);
    color: var(--text-color);
    letter-spacing: 1px;
    -webkit-font-smoothing: auto;
    text-transform: uppercase;
}

.contact-paragraph {
    line-height: 1.75rem;
    color: var(--text-color-second);
    text-align: start;
}

/*====  FOOTER ============================ */

.footer {
    background-color: var(--base-color-second);
    padding: 2rem;
}

.footer-text {
    text-align: center;
    font-size: 0.75rem;
    color: var(--text-color-second);
}

.back-to-top {
    background: #303030;
    color: var(--text-color);

    position: fixed;
    right: 1rem;
    bottom: 1rem;

    padding: 1rem;
    clip-path: circle();

    font-size: var(--text-size);
    line-height: 0;

    visibility: hidden;
    opacity: 0;

    transition: 0.3s;
    transform: translateY(100%);
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

/*====  RESPONSIVE ============================ */

@media (max-width: 1200px) {
    .card blockquote {
        max-height: 28.87rem;
        height: 100%;
    }
}

@media (max-width: 880px) {
    .home-title {
        font-size: 3rem;
    }

    .home-subtitle {
        font-size: 1.5rem;
    }

    .home-written {
        align-items: center;
    }

    .content-about {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
        height: 18.75rem;
    }
}

@media (max-width: 800px) {
    .header-menu-item::after {
        height: 2px;
        bottom: -8px;
    }

    .toggle {
        display: block;
    }

    nav .icon-close {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .header-container.active .header-menu .icon-close {
        display: block;
    }

    .header-menu ul {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: var(--base-color);
    }

    .header-container.active .header-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 3rem;
        place-content: center;
    }

    .header-menu-item {
        font-weight: 400;
        font-size: 1.25rem;
        letter-spacing: 2px;
        padding: 0.62rem;
    }

    .content-main-written {
        margin-top: 1.25rem;
        align-items: center;
    }

    .contact-container {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1.25rem;
        gap: 2.5rem;
    }
}

@media (max-width: 650px) {
    .card blockquote {
        max-height: 34.37rem;
        height: 100%;
    }
}

@media (max-width: 525px) {
    .home-title {
        text-align: center;
    }

    .home-subtitle {
        text-align: center;
    }

    .about-image {
        height: 15.62rem;
    }
}